
.ipynb_checkpoints/epExploratory-checkpoint.ipynb

.ipynb_checkpoints/outputStudy-checkpoint.ipynb

.ipynb_checkpoints/plotSimulations-checkpoint.ipynb
/.ipynb_checkpoints/
/.vscode/
/studies/TemperatureStudy1/
/studies/TemperatureStudy3/

studies/TemperatureStudy2/

studies/TemperatureStudy4/

studies/TemperatureStudy5/

studies/TemperatureStudy6/

*.audit

studies/__pycache__/

.idea/
